.protect_icon {
  height: 40px;
  -webkit-mask: url(../../../../core/misc/icons/000000/people.svg) no-repeat 100% 100%;
  mask: url(../../../../core/misc/icons/000000/people.svg) no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #000;
}

.protect_icon_red {
  height: 40px;
  -webkit-mask: url(../../../../core/misc/icons/000000/people.svg) no-repeat 100% 100%;
  mask: url(../../../../core/misc/icons/000000/people.svg) no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: red;
}

.paywall-link {
  text-decoration: none;
}
.paywall_error{
  color: red;
}

.page-node-type-pim-csv-product .form-item--exceptional-content {
  display: none;
}
#field-static-related-content-values tbody span.protect_icon {
  display: none;
}